/*
Theme Name: Protomaker Theme
Theme URI: https://protomaker.eu
Description: Protomaker custom child theme
Author: Jakub Topolski
Author URI: http://see.inc/
Template: storefront
Version: 1.0.0
Tags: custom, storefront child
Text Domain: storefront-child
*/
*, a:focus, button:focus {
  box-sizing: border-box;
  outline: 0; }

img {
  border-radius: 0; }

html, body, p, span, div {
  font-family: proxima-nova, "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

html, body {
  background-color: #312782;
  color: white; }

html.js {
  margin-top: 0 !important; }
  html.js body.admin-bar #page {
    margin-top: 32px; }

.p3d-table table.wp-list-table {
  table-layout: auto; }
  .p3d-table table.wp-list-table td:not(.check-column):not(.id),
  .p3d-table table.wp-list-table th:not(.check-column):not(.id) {
    width: auto !important; }

#page {
  position: relative;
  overflow: hidden; }
  #page h2 {
    padding-top: 3em; }
  #page .hentry .entry-content .wp-block-separator,
  #page .editor-styles-wrapper .wp-block-separator {
    margin-top: 3em !important; }
  #page p, #page span, #page h1, #page h2, #page h3, #page h4, #page h5, #page a, #page div {
    color: white; }
    body:not(.home) #page p, body:not(.home) #page span, body:not(.home) #page h1, body:not(.home) #page h2, body:not(.home) #page h3, body:not(.home) #page h4, body:not(.home) #page h5, body:not(.home) #page a, body:not(.home) #page div {
      color: black; }
  body.home #page a, body.home #page a:hover {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
    color: #B4B1D2;
    text-decoration: none; }
  body.home #page a:hover {
    color: white; }
  body:not(.home) #page a, body:not(.home) #page a:hover {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
    color: #312782;
    text-decoration: none; }
  body:not(.home) #page a:hover {
    color: black; }
  #page #masthead.site-header {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    padding-top: 1.5em;
    padding-bottom: 1em;
    margin-bottom: 0 !important; }
    body:not(.home) #page #masthead.site-header {
      background-color: #312782; }
    body.scrolled #page #masthead.site-header::before {
      opacity: 1; }
    #page #masthead.site-header span, #page #masthead.site-header p, #page #masthead.site-header a {
      color: white; }
    #page #masthead.site-header:before {
      transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
      content: '';
      display: block;
      width: 100%;
      height: 200px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.78) 50%, rgba(0, 0, 0, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      pointer-events: none; }
      body:not(.home) #page #masthead.site-header:before {
        display: none; }
    #page #masthead.site-header > .col-full {
      display: flex;
      flex-wrap: inherit;
      justify-content: center;
      flex-direction: column;
      flex-grow: 0; }
      #page #masthead.site-header > .col-full .site-branding {
        z-index: 9; }
        .storefront-secondary-navigation.woocommerce-active #page #masthead.site-header > .col-full .site-branding,
        .storefront-secondary-navigation.woocommerce-active #page #masthead.site-header > .col-full .site-branding img {
          margin: 0;
          width: 100%;
          max-width: 240px; }
    #page #masthead.site-header .storefront-primary-navigation {
      flex-grow: 2; }
      #page #masthead.site-header .storefront-primary-navigation > .col-full {
        display: flex;
        flex-flow: row;
        /*justify-content: flex-end;*/
        justify-content: space-between;
        align-items: center; }
        #page #masthead.site-header .storefront-primary-navigation > .col-full .nav-icon {
          display: block;
          position: relative;
          z-index: 8;
          margin: 1em;
          width: 40px;
          flex-shrink: 0;
          flex-grow: 0; }
          #page #masthead.site-header .storefront-primary-navigation > .col-full .nav-icon:after, #page #masthead.site-header .storefront-primary-navigation > .col-full .nav-icon:before,
          #page #masthead.site-header .storefront-primary-navigation > .col-full .nav-icon div {
            background-color: #fff;
            border-radius: 3px;
            content: '';
            display: block;
            height: 5px;
            margin: 7px 0;
            transition: all .2s ease-in-out; }
          #page #masthead.site-header .storefront-primary-navigation > .col-full .nav-icon.open:before {
            transform: translateY(12px) rotate(135deg); }
          #page #masthead.site-header .storefront-primary-navigation > .col-full .nav-icon.open:after {
            transform: translateY(-12px) rotate(-135deg); }
          #page #masthead.site-header .storefront-primary-navigation > .col-full .nav-icon.open div {
            transform: scale(0); }
        #page #masthead.site-header .storefront-primary-navigation > .col-full #site-navigation.main-navigation {
          width: 100%;
          float: right;
          margin-right: 0;
          clear: both; }
          #page #masthead.site-header .storefront-primary-navigation > .col-full #site-navigation.main-navigation .primary-navigation ul.menu, #page #masthead.site-header .storefront-primary-navigation > .col-full #site-navigation.main-navigation .primary-navigation ul.nav-menu {
            text-align: right; }
            #page #masthead.site-header .storefront-primary-navigation > .col-full #site-navigation.main-navigation .primary-navigation ul.menu > li > a, #page #masthead.site-header .storefront-primary-navigation > .col-full #site-navigation.main-navigation .primary-navigation ul.nav-menu > li > a {
              padding: 2em 1em 1.2em; }
          #page #masthead.site-header .storefront-primary-navigation > .col-full #site-navigation.main-navigation .mobile-navigation {
            transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
            display: flex;
            flex-flow: column;
            opacity: 0;
            position: absolute;
            background: #312782;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100vh;
            justify-content: center;
            align-items: center;
            visibility: hidden;
            overflow-y: hidden;
            z-index: -10; }
            #page #masthead.site-header .storefront-primary-navigation > .col-full #site-navigation.main-navigation .mobile-navigation.open {
              opacity: 1;
              visibility: visible; }
            #page #masthead.site-header .storefront-primary-navigation > .col-full #site-navigation.main-navigation .mobile-navigation.scroll {
              overflow-y: scroll; }
            #page #masthead.site-header .storefront-primary-navigation > .col-full #site-navigation.main-navigation .mobile-navigation ul#menu-mobile-menu {
              text-align: center;
              font-size: 1.5em; }
            #page #masthead.site-header .storefront-primary-navigation > .col-full #site-navigation.main-navigation .mobile-navigation .language_switcher {
              margin: 3em 0 0 0; }

body.custom-background {
  background-position: center !important; }

.site {
  flex-direction: column;
  display: flex; }

#site-header-cart,
.storefront-handheld-footer-bar {
  display: none; }

a.custom-logo-link:hover {
  opacity: 0.7; }

.language_switcher {
  transition: margin 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  position: relative;
  list-style: none;
  margin: 0.6em 0 0 2em;
  text-transform: uppercase; }
  .language_switcher li {
    display: inline-block;
    padding: 0 0.5em; }
    .language_switcher li span {
      display: none; }
  .language_switcher .languages, .language_switcher button {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s; }
  .language_switcher button {
    padding: 0.1em 0.6em;
    text-transform: uppercase;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    color: white;
    letter-spacing: 0.03em;
    position: relative; }
    .language_switcher button:hover {
      border: 2px solid white; }
  .language_switcher .languages {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    z-index: -5;
    transform: translate3d(0, 0, 0); }
    .language_switcher .languages > * {
      display: block;
      padding: 0.5em;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 4px;
      font-weight: 600;
      letter-spacing: 0.03em;
      margin-top: 4px; }
  .language_switcher.open button {
    border: 2px solid rgba(255, 255, 255, 0.8); }
  .language_switcher.open .languages {
    transform: translate3d(0, 2.5em, 0);
    opacity: 1; }

#overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%; }

.woocommerce-active .site-header .site-header-cart {
  width: 100px; }

.site-header-cart .cart-contents {
  text-align: right; }
  .site-header-cart .cart-contents .count {
    display: none; }
  .site-header-cart .cart-contents .amount {
    padding-right: 1em; }

.storefront-breadcrumb {
  margin-bottom: 1.5em; }

.site-content {
  flex-grow: 3;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column; }

body.open {
  overflow-y: hidden; }

body.form-on .site-footer {
  position: relative; }

body.form-on .site-content .home-container {
  padding-top: 30vh;
  min-height: 60vh; }

body.form-on #page #content .section-nav,
body.form-on #page #content .technologies,
body.form-on #page #content section,
body.form-on #page #content .button-subtitle {
  display: none; }

body.form-on .slides {
  opacity: 0;
  visibility: hidden; }

body:not(.form-on) form, body:not(.form-on) .nf-field-container {
  margin-bottom: 0; }

body:not(.home) {
  background-color: white; }
  body:not(.home) #page #content {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 16em; }
  body:not(.home) .site-footer {
    color: #312782; }

.site-header, .site-footer {
  background-color: transparent;
  border: none; }

.hide-header {
  opacity: 0;
  margin-top: -100px !important; }

.site-footer {
  width: 100%;
  padding-bottom: 1.8em !important;
  flex-grow: 0;
  position: absolute;
  bottom: 0;
  z-index: 5; }

.show-header {
  opacity: 1;
  margin-top: 0px !important; }

.storefront-breadcrumb {
  margin-top: 9em; }

.col-full {
  max-width: 100% !important; }

.text-secondary,
.main-navigation,
.secondary-navigation {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.7px;
  color: #B4B1D2;
  margin: 0; }

.secondary-navigation {
  padding-right: 1em; }
  .secondary-navigation ul li a {
    font-size: 14px; }

.flex-container {
  display: flex; }

.site-footer .flex-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  body.fb-on .site-footer .flex-container {
    margin-right: 5em; }
  .site-footer .flex-container nav {
    /*flex-grow: 3;*/
    /*flex-basis: 30%;*/ }

.by-see {
  /*order: 1;*/
  flex-grow: 1;
  flex-basis: 70px;
  /*text-align: center;*/
  text-align: left;
  position: relative; }
  .by-see a {
    margin-right: 1em; }
  .by-see .ic-fb, .by-see .ic-insta {
    width: 20px;
    height: 20px;
    background: white;
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    mask-mode: alpha;
    -webkit-mask-mode: alpha;
    mask-size: cover;
    -webkit-mask-size: cover;
    background: #B4B1D2;
    position: relative;
    bottom: 1px; }
    body:not(.home) .by-see .ic-fb, body:not(.home) .by-see .ic-insta {
      background: #312782; }
    .by-see .ic-fb:hover, .by-see .ic-insta:hover {
      background: white; }
  .by-see .ic-fb {
    mask-image: url("../images/ic-fb.svg");
    -webkit-mask-image: url("../images/ic-fb.svg"); }
  .by-see .ic-insta {
    mask-image: url("../images/ic-insta.svg");
    -webkit-mask-image: url("../images/ic-insta.svg"); }

.by-see .text-secondary {
  white-space: nowrap; }

.by-see .text-secondary::before {
  background: url("../images/see-s-logo-color@2x.png") 50%/70px no-repeat;
  background-color: rgba(0, 0, 0, 0);
  display: block;
  width: 70px;
  height: 24px;
  position: absolute;
  right: 0;
  bottom: 32px;
  background-color: #000a1f;
  border-radius: 50px;
  padding: 0.7em 1em; }

.button, .btn,
.nf-form-content button.btn,
.nf-form-content input[type="button"].ninja-forms-field {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 6px solid #f8ad00;
  height: auto; }
  .button.nf-fu-fileinput-button, .btn.nf-fu-fileinput-button,
  .nf-form-content button.btn.nf-fu-fileinput-button,
  .nf-form-content input[type="button"].ninja-forms-field.nf-fu-fileinput-button {
    display: block;
    float: none;
    margin: 0 auto;
    vertical-align: middle; }
    .button.nf-fu-fileinput-button:before, .btn.nf-fu-fileinput-button:before,
    .nf-form-content button.btn.nf-fu-fileinput-button:before,
    .nf-form-content input[type="button"].ninja-forms-field.nf-fu-fileinput-button:before {
      content: '';
      mask-image: url("../images/ic-upload.svg");
      -webkit-mask-image: url("../images/ic-upload.svg");
      mask-mode: alpha;
      -webkit-mask-mode: alpha;
      mask-size: cover;
      -webkit-mask-size: cover;
      background: white;
      display: inline-block;
      position: relative;
      width: 18px;
      height: 24px;
      margin: 0px 12px 0 0;
      top: 4px; }
    .button.nf-fu-fileinput-button span, .btn.nf-fu-fileinput-button span,
    .nf-form-content button.btn.nf-fu-fileinput-button span,
    .nf-form-content input[type="button"].ninja-forms-field.nf-fu-fileinput-button span {
      line-height: 24px; }
  .button, .button:hover, .btn, .btn:hover,
  .nf-form-content button.btn,
  .nf-form-content button.btn:hover,
  .nf-form-content input[type="button"].ninja-forms-field,
  .nf-form-content input[type="button"].ninja-forms-field:hover {
    background: transparent;
    border: 6px solid #f8ad00;
    padding: 1em 2em 1.2em;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3.2px;
    text-transform: uppercase; }
  .button, .button:after, .button:before, .button span, .btn, .btn:after, .btn:before, .btn span,
  .nf-form-content button.btn,
  .nf-form-content button.btn:after,
  .nf-form-content button.btn:before,
  .nf-form-content button.btn span,
  .nf-form-content input[type="button"].ninja-forms-field,
  .nf-form-content input[type="button"].ninja-forms-field:after,
  .nf-form-content input[type="button"].ninja-forms-field:before,
  .nf-form-content input[type="button"].ninja-forms-field span {
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s; }
  .button:hover, .btn:hover,
  .nf-form-content button.btn:hover,
  .nf-form-content input[type="button"].ninja-forms-field:hover {
    color: #000 !important;
    background: transparent;
    text-shadow: none; }
    .button:hover span, .btn:hover span,
    .nf-form-content button.btn:hover span,
    .nf-form-content input[type="button"].ninja-forms-field:hover span {
      color: #000000 !important; }
  .button:hover:after, .btn:hover:after,
  .nf-form-content button.btn:hover:after,
  .nf-form-content input[type="button"].ninja-forms-field:hover:after {
    height: 100%; }
  .button:hover:before, .btn:hover:before,
  .nf-form-content button.btn:hover:before,
  .nf-form-content input[type="button"].ninja-forms-field:hover:before {
    background: #000; }
  .button:after, .btn:after,
  .nf-form-content button.btn:after,
  .nf-form-content input[type="button"].ninja-forms-field:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #f8ad00; }

.nf-form-fields-required {
  display: none !important; }

.ninja-forms-req-symbol {
  color: #f8ad00; }

.nf-error-msg {
  text-align: center;
  max-width: 30em; }

.nf-error-field-errors {
  padding-bottom: 3em; }

.nf-form-content button.btn.nf-fu-button-cancel,
.nf-form-content input[type="button"].nf-next,
.nf-form-content input[type="button"].nf-previous,
.nf-form-content button.btn.nf-fu-button-cancel,
.nf-form-content .files_uploaded {
  display: none !important; }

.nf-form-content .nf-fu-progress {
  background-color: transparent !important;
  box-shadow: none;
  width: 63%;
  margin: 2em auto 0; }
  .nf-form-content .nf-fu-progress .nf-fu-progress-bar {
    background-color: #f8ad00; }

.nf-form-content .nf-response-msg {
  padding-bottom: 15vh; }

#page .button-subtitle {
  display: block;
  float: none;
  margin: 0 auto;
  padding: 12px 0;
  cursor: default;
  position: relative;
  color: #B4B1D2; }
  #page .button-subtitle.protection {
    position: relative;
    bottom: 2em;
    color: rgba(255, 255, 255, 0.8); }
    #page .button-subtitle.protection:before {
      content: '';
      mask-image: url("../images/ic-protection.svg");
      -webkit-mask-image: url("../images/ic-protection.svg");
      mask-mode: alpha;
      -webkit-mask-mode: alpha;
      mask-size: cover;
      -webkit-mask-size: cover;
      background: #7FEFBD;
      display: inline-block;
      position: relative;
      width: 18px;
      height: 24px;
      margin: 0px 12px 0 0;
      top: 6px; }

.p3dlite-details, .p3dlite-info, .p3dlite-images {
  display: none; }

/*#p3dlite-viewer, canvas#p3dlite-cv {
    float: none;
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
}*/
.home-container {
  text-align: center;
  position: relative;
  z-index: 5;
  width: 100%;
  min-height: 100vh;
  padding-top: 10vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }
  .home-container .nf-form-cont {
    text-align: left; }

h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 57px;
  max-width: 12em;
  display: inline-block;
  position: relative;
  /*letter-spacing: 0.01em;*/
  font-family: apertura; }

body.home h1 {
  font-size: 56px; }

.main-navigation ul li a,
.site-title a,
ul.menu li a,
.site-branding h1 a,
button.menu-toggle,
button.menu-toggle:hover,
.handheld-navigation .dropdown-toggle,
.site-footer a:not(.button):not(.components-button) {
  color: #B4B1D2;
  text-decoration: none; }

.secondary-navigation .menu {
  float: left; }

.slides {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style-type: none; }

.slide {
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1.5s; }
  .slide:nth-of-type(1) {
    background-image: url("../images/bg-4.jpg"); }
  .slide:nth-of-type(2) {
    background-image: url("../images/bg-7.jpg"); }
  .slide:nth-of-type(3) {
    background-image: url("../images/bg-2.jpg"); }

.showing {
  opacity: 1;
  z-index: 2; }

#page nav.section-nav {
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
  -webkit-backface-visibility: hidden;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 50px;
  margin: auto;
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  display: flex;
  align-items: center; }
  #page nav.section-nav.active {
    transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
    opacity: 1;
    visibility: visible; }
  #page nav.section-nav ul {
    list-style: none;
    margin: 0;
    overflow: hidden; }
    #page nav.section-nav ul li {
      list-style: none; }
      #page nav.section-nav ul li a {
        width: 100%;
        line-height: 2.4em; }
        #page nav.section-nav ul li a, #page nav.section-nav ul li a:after {
          display: inline-block;
          text-align: right; }
        #page nav.section-nav ul li a:after {
          transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
          content: '';
          display: inline-block;
          width: 0.5em;
          height: 1.6em;
          text-indent: -9999px;
          background-color: rgba(255, 255, 255, 0.35);
          opacity: 0.35;
          border-radius: 0;
          margin: 0;
          margin-left: 1.2em;
          padding: 0;
          vertical-align: middle; }
        #page nav.section-nav ul li a span {
          transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
          color: rgba(255, 255, 255, 0.35);
          vertical-align: middle;
          font-weight: 600;
          letter-spacing: 0.03em; }
        #page nav.section-nav ul li a:hover:after, #page nav.section-nav ul li a.active:after {
          background-color: #fff;
          border-color: #fff;
          opacity: 1; }
        #page nav.section-nav ul li a:hover span, #page nav.section-nav ul li a.active span {
          opacity: 1;
          color: #fff; }

.storefront-breadcrumb {
  position: absolute; }

#page #content .col-full {
  padding: 0;
  width: 100%; }
  #page #content .col-full h2, #page #content .col-full p, #page #content .col-full ul, #page #content .col-full ol, #page #content .col-full li {
    max-width: 800px; }
  #page #content .col-full ul.slides,
  #page #content .col-full ul.slides li.slide {
    max-width: 100%; }

.image-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  .image-section:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #312782;
    background: linear-gradient(96deg, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.35) 65%, rgba(49, 39, 130, 0.35) 100%);
    background-repeat: no-repeat;
    position: absolute; }
  .image-section.technology-section {
    background-attachment: fixed; }
    .image-section.technology-section .container {
      padding-right: 160px; }
  .image-section .container {
    width: 80%;
    margin: 0 auto;
    padding: 10em 0;
    z-index: 5; }

#ic-scroll {
  width: 32px;
  height: 56px;
  position: fixed;
  bottom: 5%;
  z-index: 5;
  left: 50%;
  margin-left: -16px; }
  .form-on #ic-scroll,
  .scrolled #ic-scroll {
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-name: scrolled;
            animation-name: scrolled;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
  #ic-scroll.mouse {
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 50px;
    margin-left: 16px;
    opacity: 0.64;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s; }
    #ic-scroll.mouse, #ic-scroll.mouse:before {
      left: 50%; }
    #ic-scroll.mouse:hover {
      opacity: 1; }
    #ic-scroll.mouse:before {
      content: '';
      width: 6px;
      height: 6px;
      background: #ffffff;
      position: absolute;
      top: 12px;
      margin-left: -3px;
      border-radius: 12px;
      -webkit-animation-duration: 1.6s;
              animation-duration: 1.6s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-name: ic-scroll;
              animation-name: ic-scroll;
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  #ic-scroll .ic-scroll-arrow {
    display: block;
    position: relative;
    transform: rotate(45deg);
    border-right: 2px solid rgba(255, 255, 255, 0.65);
    border-bottom: 2px solid rgba(255, 255, 255, 0.65);
    margin: 0 0 16px 8px;
    width: 12px;
    height: 12px;
    -webkit-animation: mouse-scroll 0.9s infinite;
            animation: mouse-scroll 0.9s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate; }
    #ic-scroll .ic-scroll-arrow.first {
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    #ic-scroll .ic-scroll-arrow.second {
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      margin-top: -6px; }
      #ic-scroll .ic-scroll-arrow.second, #ic-scroll .ic-scroll-arrow.second:after {
        -webkit-animation-delay: .2s;
                animation-delay: .2s; }
    #ic-scroll .ic-scroll-arrow.third {
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      margin-top: -6px; }
      #ic-scroll .ic-scroll-arrow.third, #ic-scroll .ic-scroll-arrow.third:after {
        -webkit-animation-delay: .3s;
                animation-delay: .3s; }
    #ic-scroll .ic-scroll-arrow:after {
      content: '';
      display: block;
      width: 1px;
      height: 1px;
      position: absolute;
      box-shadow: 12px 12px 24px 2px #ffffff;
      -webkit-animation: mouse-scroll-glow 0.9s infinite;
              animation: mouse-scroll-glow 0.9s infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes mouse-scroll {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes mouse-scroll-glow {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes mouse-scroll-glow {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes ic-scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(32px); } }

@keyframes ic-scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(32px); } }

@-webkit-keyframes scrolled {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden; } }

@keyframes scrolled {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden; } }

@media (min-width: 768px) {
  #page #masthead.site-header .storefront-primary-navigation > .col-full .nav-icon,
  #page #masthead.site-header .storefront-primary-navigation > .col-full #site-navigation.main-navigation .mobile-navigation {
    display: none; } }

@media (max-width: 768px) {
  #page #masthead.site-header .storefront-primary-navigation > .col-full {
    flex-flow: column;
    align-items: flex-end; }
  #page #masthead.site-header .storefront-primary-navigation > .col-full > .language_switcher {
    display: none; }
  .nf-field-element input.ninja-forms-field.nf-element {
    margin: 0 auto; }
  .home-container {
    padding: 0 1em; }
  .image-section,
  .image-section.technology-section {
    background-attachment: scroll; } }

@media (max-width: 480px) {
  #page nav.section-nav {
    display: none; }
  .image-section.technology-section .container {
    padding-right: 0; }
  .site-footer .flex-container {
    flex-direction: column;
    align-items: flex-start; }
    .site-footer .flex-container .by-see {
      order: 1;
      flex-basis: auto;
      padding: 1em 0; } }

/*# sourceMappingURL=custom.css.map */
