/*
Theme Name: Protomaker Theme
Theme URI: https://protomaker.eu
Description: Protomaker custom child theme
Author: Jakub Topolski
Author URI: http://see.inc/
Template: storefront
Version: 1.0.0
Tags: custom, storefront child
Text Domain: storefront-child
*/

$orange: #f8ad00;
$purple: #312782;
$purple-gray: #B4B1D2;
$dark: rgba(0,0,0,0.8);
$light: rgba(255,255,255,0.8);
$lighter: rgba(255,255,255,0.35);
$white: #ffffff;

$green: #7FEFBD;
// $green: #A5CC6B;
// $green: #8CD867;
// $green: #2FBF71;
// $green: #8AEA92;

@mixin trans($arg: all) {
	transition: $arg 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.05s;
}

*, a:focus, button:focus {
	box-sizing: border-box;
	outline: 0;
}

img { border-radius: 0; }

html, body, p, span, div {
	font-family: proxima-nova, "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

html, body {
	background-color: $purple;
	color: white;
}

html.js {
	margin-top: 0 !important;

	body.admin-bar #page {
	    margin-top: 32px;
	}
}

// TODO: this rule should work but does not;
.p3d-table table.wp-list-table {
	table-layout: auto;

	td:not(.check-column):not(.id),
	th:not(.check-column):not(.id) {
		width: auto !important;
	}
}

#page {
	position: relative;
	overflow: hidden;

	h2 {
		padding-top: 3em;
	}

	.hentry .entry-content .wp-block-separator,
	.editor-styles-wrapper .wp-block-separator {
		margin-top: 3em !important;
	}

	p, span, h1, h2, h3, h4, h5, a, div {
		color: white;

		body:not(.home) & {
			// min-height: 80vh;
			color: black;
		}
	}

	body.home & {
		a, a:hover {
			@include trans;
			color: $purple-gray;
			text-decoration: none;
		}

		a:hover {
			color: white;
		}
	}

	body:not(.home) & {
		a, a:hover {
			@include trans;
			color: $purple;
			text-decoration: none;
		}

		a:hover {
			color: black;
		}
	}

	#masthead.site-header {
	    @include trans;
	    position: fixed;
	    width: 100%;
		display: flex;
		flex-direction: row;
		flex-grow: 0;
		padding-top: 1.5em;
		padding-bottom: 1em;
		margin-bottom: 0 !important;

		body:not(.home) & {
			background-color: #312782;
		}

		body.scrolled &::before {
		    opacity: 1;
		}

		span, p, a {
			color: white;
		}

		&:before {
		    @include trans($arg: all);
		    content: '';
		    display: block;
		    width: 100%;
		    height: 200px;
		    background: linear-gradient(180deg, rgba($dark, 0.95) 0%, rgba($dark, 0.78) 50%, rgba($dark, 0) 100%);
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    opacity: 0;
		    pointer-events: none;

			body:not(.home) & {
				display: none;
			}
		}

		> .col-full {
		    display: flex;
		    flex-wrap: inherit;
		    justify-content: center;
		    flex-direction: column;
	    	flex-grow: 0;

			.site-branding {
				z-index: 9;

				.storefront-secondary-navigation.woocommerce-active &,
				.storefront-secondary-navigation.woocommerce-active & img {
					margin: 0;
					width: 100%;
					max-width: 240px;
				}
			}
	    }

		.storefront-primary-navigation {
			flex-grow: 2;

			> .col-full {
			    display: flex;
			    flex-flow: row;
			    // flex-flow: column;
			    /*justify-content: flex-end;*/
			    justify-content: space-between;
			    align-items: center;
			    // align-items: flex-end;

			    .nav-icon {
			    	display: block;
			    	position: relative;
			    	z-index: 8;
					margin: 1em;
					width: 40px;
					flex-shrink: 0;
					flex-grow: 0;

					&:after, 
					&:before, 
					div {
						background-color: #fff;
						border-radius: 3px;
						content: '';
						display: block;
						height: 5px;
						margin: 7px 0;
						transition: all .2s ease-in-out;
					}

					&.open:before {
						transform: translateY(12px) rotate(135deg);
					}

					&.open:after {
						transform: translateY(-12px) rotate(-135deg);
					}

					&.open div {
						transform: scale(0);
					}
			    }

				#site-navigation.main-navigation {
				    width: 100%;
				    float: right;
				    margin-right: 0;
				    clear: both;


				    .primary-navigation {
						ul.menu, ul.nav-menu {
							text-align: right;

							> li > a {
								padding: 2em 1em 1.2em;
							}
						}
				    }

				    .mobile-navigation {
				    	@include trans;
						display: flex;
						flex-flow: column;
				    	opacity: 0;
						position: absolute;
						background: $purple;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						height: 100vh;
						justify-content: center;
						align-items: center;
						visibility: hidden;
						overflow-y: hidden;
						z-index: -10;

					    &.open {
							opacity: 1;
							visibility: visible;
							// overflow-y: scroll;
						}

						&.scroll {
							overflow-y: scroll;
						}

						ul#menu-mobile-menu {
							text-align: center;
							font-size: 1.5em;
						}

						.language_switcher {
							margin: 3em 0 0 0;
						}
				    }
				}
			}
		}
	}
}

body.custom-background {
	background-position: center !important;
}

.site {
    flex-direction: column;
    display: flex;

    body.home & {
    	// height: 100vh;
    }
}

#site-header-cart,
.storefront-handheld-footer-bar {
	display: none;
}

a.custom-logo-link:hover {
	opacity: 0.7;
}

.language_switcher {
	@include trans($arg: margin);
	position: relative;
	list-style: none;
	margin: 0.6em 0 0 2em;
	text-transform: uppercase;

	li {
		display: inline-block;
		padding: 0 0.5em;

		span {
			display: none;
		}
	}

	.languages, button {
		@include trans;
	}

	button {
	    padding: 0.1em 0.6em;
	    text-transform: uppercase;
	    border: 2px solid rgba(255,255,255,0.2);
	    background: transparent;
	    color: white;
	    letter-spacing: 0.03em;
	    position: relative;

	    &:hover {
	    	border: 2px solid rgba(255,255,255,1);
	    }
	}

	.languages {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		text-align: center;
		opacity: 0;
		z-index: -5;
		transform: translate3d(0,0,0);

		> * {
		    display: block;
		    padding: 0.5em;
		    background: $dark;
		    border-radius: 4px;
		    font-weight: 600;
	    	letter-spacing: 0.03em;
	    	margin-top: 4px;
		}
	}

	&.open button {
	    border: 2px solid rgba(255,255,255,0.8);
	}

	&.open .languages {
		transform: translate3d(0,2.5em,0);
		opacity: 1;
	}
}

#overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.woocommerce-active .site-header .site-header-cart {
	width: 100px;
}

.site-header-cart .cart-contents {
	text-align: right;

	.count {
		display: none;
	}
	.amount {
		padding-right: 1em;
	}
}

.storefront-breadcrumb {
    margin-bottom: 1.5em;
}

.site-content {
	flex-grow: 3;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	// padding-bottom: 10em;
}

// body:not(.home) {
body {
	// background: #eeeeee;
	&.open {
		overflow-y: hidden;
	}

	&.form-on {
		.site-footer {
			position: relative;
		}

		.site-content .home-container {
			padding-top: 30vh;
			min-height: 60vh;
		}

		#page #content {
			.section-nav,
			.technologies,
			section,
			.button-subtitle {
				display: none;
			}
		}

		.slides {
			opacity: 0;
			visibility: hidden;
		}
	}

	&:not(.form-on) {
		form, .nf-field-container {
			margin-bottom: 0;
		}
	}

	&:not(.home) {
		background-color: white;

		#page #content {
			max-width: 90%;
			margin: 0 auto;
			padding-top: 16em;
		}

		.site-footer {
			color: $purple;
		}
	}
}

.site-header, .site-footer {
	background-color: transparent;
	border: none;
}

.hide-header {
	opacity: 0;
	margin-top: -100px !important;
}

.site-footer {
    width: 100%;
    // box-shadow: 0px -1px 8px rgba(0,0,0,0.2);
	padding-bottom: 1.8em !important;
	flex-grow: 0;
	position: absolute;
	bottom: 0;
	z-index: 5;
}
 
.show-header {
	opacity: 1;
	margin-top: 0px !important;
}

.storefront-breadcrumb {
	margin-top: 9em;
}

.col-full {
	max-width: 100% !important;
}

.text-secondary,
.main-navigation,
.secondary-navigation {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.7px;
	color: $purple-gray;
	margin: 0;
}

.secondary-navigation {
	padding-right: 1em;

	ul li a {
		font-size: 14px;
	}
}

.flex-container {
	display: flex;
}

.site-footer .flex-container {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	body.fb-on & {
		margin-right: 5em;
	}

	 nav {
		/*flex-grow: 3;*/
		/*flex-basis: 30%;*/
	}
}

.by-see {
	/*order: 1;*/
	flex-grow: 1;
	flex-basis: 70px;
	/*text-align: center;*/
	text-align: left;
	position: relative;

	a {
		margin-right: 1em;
	}

	.ic-fb, .ic-insta {
		width: 20px;
		height: 20px;
		background: white;
		display: inline-block;
		line-height: 1em;
		vertical-align: middle;
		mask-mode: alpha;
		-webkit-mask-mode: alpha;
		mask-size: cover;
		-webkit-mask-size: cover;
		background: $purple-gray;
		position: relative;
		bottom: 1px;

		body:not(.home) & {
			background: $purple;
		}

		&:hover {
			background: white;
		}
	}

	.ic-fb {
		mask-image: url('../images/ic-fb.svg');
		-webkit-mask-image: url('../images/ic-fb.svg');
	}

	.ic-insta {
		mask-image: url('../images/ic-insta.svg');
		-webkit-mask-image: url('../images/ic-insta.svg');
	}
}

.by-see .text-secondary {
	white-space: nowrap;
}

.by-see .text-secondary::before {
    // content: '';
    background: url('../images/see-s-logo-color@2x.png') 50%/70px no-repeat;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    width: 70px;
    height: 24px;
    position: absolute;
    right: 0;
    bottom: 32px;
    background-color: #000a1f;
    border-radius: 50px;
    padding: 0.7em 1em;
}

.button, .btn,
.nf-form-content button.btn,
.nf-form-content input[type="button"].ninja-forms-field {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 6px solid $orange;
	height: auto;

	&.nf-fu-fileinput-button {
		display: block;
		float: none;
		margin: 0 auto;
		vertical-align: middle;

		&:before {
		    content: '';
		    mask-image: url('../images/ic-upload.svg');
		    -webkit-mask-image: url('../images/ic-upload.svg');
		    mask-mode: alpha;
		    -webkit-mask-mode: alpha;
		    mask-size: cover;
		    -webkit-mask-size: cover;
		    background: white;
		    display: inline-block;
		    position: relative;
		    width: 18px;
		    height: 24px;
		    margin: 0px 12px 0 0;
		    top: 4px;
		}

		span {
			line-height: 24px;
		}
	}

	&, &:hover {
		background: transparent;
		border: 6px solid $orange;
		padding: 1em 2em 1.2em;
		text-align: center;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 3.2px;
		text-transform: uppercase;
	}

	&, &:after, &:before, & span {
		@include trans;
	}

	&:hover {
		color: #000 !important;
		background: transparent;
		text-shadow: none;

		span {
			color: #000000 !important;
		}
	}

	&:hover:after {
		// bottom: 0;
		// top: auto;
		height: 100%;
	}

	&:hover:before {
		background: #000;
	}

	&:after {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		height: 0px;
		width: 100%;
		z-index: -1;
		content: '';
		color: #000 !important;
		background: $orange;
	}
}

// Ninja Forms customization

.nf-form-fields-required {
	display: none !important;
}

.ninja-forms-req-symbol {
	color: $orange;
}

.nf-error-msg {
    text-align: center;
    max-width: 30em;
}

.nf-error-field-errors {
    padding-bottom: 3em;
}

.nf-form-content {
	button.btn.nf-fu-button-cancel,
	input[type="button"].nf-next,
	input[type="button"].nf-previous,
	// .nf-fu-progress,
	button.btn.nf-fu-button-cancel,
	.files_uploaded {
		display: none !important;
	}

	.nf-fu-progress {
	    background-color: transparent !important;
		box-shadow: none;
		width: 63%;
		margin: 2em auto 0;

		.nf-fu-progress-bar {
			background-color: $orange;
		}
	}

	.nf-response-msg {
		padding-bottom: 15vh;
	}

	.nf-field-47 { // Submit button
		// margin: 0 auto;
	}
}

#page .button-subtitle {
	display: block;
	float: none;
	margin: 0 auto;
	padding: 12px 0;
	cursor: default;
	position: relative;
	color: $purple-gray;

	&.protection {
		// position: absolute;
		// bottom: 5em;
		position: relative;
		bottom: 2em;
		color: $light;

		&:before {
		    content: '';
		    mask-image: url('../images/ic-protection.svg');
		    -webkit-mask-image: url('../images/ic-protection.svg');
		    mask-mode: alpha;
		    -webkit-mask-mode: alpha;
		    mask-size: cover;
		    -webkit-mask-size: cover;
		    // background: $aqua;
		    background: $green;
		    display: inline-block;
		    position: relative;
		    width: 18px;
		    height: 24px;
		    margin: 0px 12px 0 0;
		    top: 6px;
		}
	}
}

.p3dlite-details, .p3dlite-info, .p3dlite-images {
	display: none;
}

/*#p3dlite-viewer, canvas#p3dlite-cv {
    float: none;
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
}*/

.home-container {
	text-align: center;
	position: relative;
	z-index: 5;
	width: 100%;
	min-height: 100vh;
	padding-top: 10vh;
	display: flex;
	flex-flow: column nowrap;
	// align-content: center;
	align-items: center;
	justify-content: center;

	.nf-form-cont {
		text-align: left;
	}
}

h1 {
	font-size: 48px;
	font-weight: bold;
	line-height: 57px;
	max-width: 12em;
	display: inline-block;
	position: relative;
	/*letter-spacing: 0.01em;*/
	font-family: apertura;
}

body.home h1 {
	font-size: 56px;
}

.main-navigation ul li a,
.site-title a,
ul.menu li a,
.site-branding h1 a,
button.menu-toggle,
button.menu-toggle:hover,
.handheld-navigation .dropdown-toggle,
.site-footer a:not(.button):not(.components-button) {
    color: $purple-gray;
    text-decoration: none;
}

.secondary-navigation .menu {
	float: left;
}

// Background slideshow
.slides {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
	background-size: cover;
	background-position: center;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1.5s;

	&:nth-of-type(1) {
		background-image: url('../images/bg-4.jpg');
	}

	&:nth-of-type(2) {
		background-image: url('../images/bg-7.jpg');
	}

	&:nth-of-type(3) {
		background-image: url('../images/bg-2.jpg');
	}
}

.showing {
    opacity: 1;
    z-index: 2;
}

// Technology slideshow
#page nav.section-nav {
	@include trans($arg: opacity);
	-webkit-backface-visibility: hidden;
	z-index: 100; 
	position: fixed; 
	top: 0; 
	right: 50px;
	margin: auto;
	// width: 200px;
	opacity: 0;
	visibility: hidden;
	height: 100vh;
	display: flex;
	align-items: center;

	&.active {
		@include trans($arg: opacity);
		opacity: 1;
		visibility: visible;
	}

	ul {
		list-style: none;
		margin: 0;
		overflow: hidden;

		li {
			// height: 20px;
			// margin: 20px 0px;
			list-style: none;

			a {
				width: 100%;
				line-height: 2.4em;

				&, &:after {
					display: inline-block;
					// float: right;
					text-align: right;
				}

				&:after {
					@include trans;
					content: '';
					display: inline-block; 
					width: 0.5em; 
					height: 1.6em;
					text-indent: -9999px;
					background-color: $lighter;
					opacity: 0.35;
					// border: 3px solid $light; 
					border-radius: 0;
					margin: 0;
					margin-left: 1.2em;
					padding: 0;
					vertical-align: middle;
				}

				span {
					@include trans;
					// opacity: 0.25;
					color: $lighter;
					vertical-align: middle;
					font-weight: 600;
					letter-spacing: 0.03em;
				}

				&:hover, &.active {
					&:after {
						background-color: #fff;
						border-color: #fff;
						opacity: 1;
					}

					span {
						opacity: 1;
						color: #fff;
					}
				}
			}
		}
	}
}


// .page-id-75 {
	.storefront-breadcrumb {
		position: absolute;
	}

	#page #content {
		.col-full {
			padding: 0;
			width: 100%;

			h2, p, ul, ol, li {
				max-width: 800px;
			}

			ul.slides,
			ul.slides li.slide {
				max-width: 100%;
			}
		}
	}

	.image-section {
		min-height: 100vh;
	    display: flex;
	    align-items: center;
	    position: relative;
	    z-index: 5;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;

	    &:before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background: $purple;
			background: linear-gradient(96deg, rgba(#000000,0.85) 0%, rgba(#000000,0.35) 65%, rgba($purple,0.35) 100%);
			background-repeat: no-repeat;
			position: absolute;
		}

		&.technology-section {
			background-attachment: fixed;

			.container {
				padding-right: 160px;
			}
		}

		.container {
		    width: 80%;
		    margin: 0 auto;
		    padding: 10em 0;
		    z-index: 5;
		}

		// &#fdm { background-color: #B23751; }
		// &#sla { background-color: #346CA5; }
		// &#polyjet { background-color: #65B237; }
		// &#sls { background-color: #c0392b; }
		// &#dmls { background-color: #2c3e50; }
	}


// }

#ic-scroll {
	width: 32px;
	height: 56px;
	position: fixed;
	bottom: 5%;
	z-index: 5;
	left: 50%;
	margin-left: -16px;


	.form-on &,
	.scrolled & {
		opacity: 0;
		animation-duration: 1s;
		animation-iteration-count: 1;
		animation-name: scrolled;
		animation-fill-mode: forwards;
	}

	&.mouse {
		border: 2px solid rgba($white,0.15);
		border-radius: 50px;
		margin-left: 16px;
		opacity: 0.64;
		@include trans;

		&, &:before {
			left: 50%;
		}

		&:hover {
			opacity: 1;
		}

		&:before {
			content: '';
			width: 6px;
			height: 6px;
			background: $white;
			position: absolute;
			top: 12px;
			margin-left: -3px;
			border-radius: 12px;
			animation-duration: 1.6s;
			animation-iteration-count: infinite;
			animation-name: ic-scroll;
			animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}

	.ic-scroll-arrow {
		display: block;
		position: relative;
		transform: rotate(45deg);
		border-right: 2px solid rgba($white,.65);
		border-bottom: 2px solid rgba($white,.65);
		margin: 0 0 16px 8px;
		width: 12px;
		height: 12px;

		animation: mouse-scroll 0.9s infinite;
		animation-direction: alternate;

		&.first {
			animation-delay: 0s;
		}

		&.second {
			&, &:after {
				animation-delay: .2s;
			}
			animation-direction: alternate;
			margin-top: -6px;
		}

		&.third {
			&, &:after {
				animation-delay: .3s;
			}
			animation-direction: alternate;
			margin-top: -6px;
		}

		&:after {
			content:'';
			display:block;
			width:1px;
			height:1px;
			position: absolute;
			box-shadow: 12px 12px 24px 2px $white;
			animation: mouse-scroll-glow 0.9s infinite;
			animation-direction: alternate;
		}
	}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	10%  { opacity: 0; }
	// 80%  { opacity: .5; }
	100% { opacity: 1; }
}

@keyframes mouse-scroll-glow {
	0%   { opacity: 0; }
	60%  { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes ic-scroll {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(32px);
	}
}

@keyframes scrolled {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
		visibility: hidden;
	}
}

@media (min-width: 768px) {
	#page #masthead.site-header .storefront-primary-navigation > .col-full {
		.nav-icon,
		#site-navigation.main-navigation .mobile-navigation {
			display: none;
		}
	}
}

@media (max-width: 768px) {
	#page #masthead.site-header .storefront-primary-navigation > .col-full {
		flex-flow: column;
		align-items: flex-end;
	}

	#page #masthead.site-header .storefront-primary-navigation > .col-full > .language_switcher {
		display: none;
	}

	.nf-field-element input.ninja-forms-field.nf-element {
		margin: 0 auto;
	}

	.home-container {
	    padding: 0 1em;
	}

	.image-section,
	.image-section.technology-section {
		background-attachment: scroll;
	}
}

@media (max-width: 480px) {
	#page nav.section-nav {
		display: none;
	}

	.image-section.technology-section {
		.container {
			padding-right: 0;
		}
	}

	.site-footer .flex-container {
		flex-direction: column;
		align-items: flex-start;

		.by-see {
			order: 1;
			flex-basis: auto;
			padding: 1em 0;
		}
	}
}